name: Build Develop Image

on: push

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Get tag or commit id
      id: get-version-id
      uses: iawia002/get-tag-or-commit-id@v1
      with:
        length: 7

    - name: Initial cleanup
      run: sudo rm -rf /usr/share/dotnet

    - name: Check for free space
      run: df -h

    - name: Build info - Branch
      run: echo ${{ github.ref_name }}
    
    - name: Build info - Commit
      run: echo ${{ steps.get-version-id.outputs.id }}

    - name: Build qemu dependencies for cross-platform build
      run: sudo apt update && sudo apt-get install qemu-user-static

    - name: Login into Dockerhub
      env:
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      run: docker login --username elautoestopista --password $DOCKERHUB_TOKEN
  
    - name: Prepare cross-platform build
      run: docker buildx create --name aeneaai --platform linux/amd64,linux/arm64,linux/arm/v7

    - uses: actions/checkout@v3

    - name: Get Ollama from repository
      run: mkdir binary &&
           cd binary &&
           wget https://github.com/ollama/ollama/releases/download/v0.14.3-rc1/ollama-linux-amd64.tar.zst &&
           sudo tar --zstd -xvf ollama-linux-amd64.tar.zst &&
           rm -rf ollama-linux-amd64.tar.zst


    - name: Build aeneaai project
      run: ORIGIN=${{ github.ref_name }} &&
           BRANCH="${ORIGIN////-}" &&
           docker buildx use aeneaai &&
           docker buildx inspect --bootstrap &&
           docker buildx build --platform linux/amd64 -t elautoestopista/aeneaai:develop-$BRANCH -t elautoestopista/aeneaai:develop -t elautoestopista/aeneaai:latest --push .
