name: Build Stable Image

on:
  release:
    types:
      - published
    branches:
      - 'releases/**'
    
jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Release information
        run: echo "Release ${{ github.event.release.tag_name }} will be generated"

      - name: Build qemu dependencies for cross-platform build
        run: sudo apt-get install qemu-user-static

      - name: Login into Dockerhub
        env:
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: docker login --username elautoestopista --password $DOCKERHUB_TOKEN
    
      - name: Prepare cross-platform build
        run: docker buildx create --name aeneaai --platform linux/amd64,linux/arm64,linux/arm/v7

      - uses: actions/checkout@v3

      - name: Get Ollama from repository
        run: mkdir binary &&
             cd binary &&
             wget https://github.com/ollama/ollama/releases/download/v0.14.3-rc1/ollama-linux-amd64.tar.zst &&
             sudo tar --zstd -xvf ollama-linux-amd64.tar.zst &&
             rm -rf ollama-linux-amd64.tar.zst

      - name: Build aeneaai project
        run: docker buildx use aeneaai &&
            docker buildx inspect --bootstrap &&
            docker buildx build --platform linux/amd64,linux/arm64,linux/arm/v7 -t elautoestopista/aeneaai:${{ github.event.release.tag_name }} -t elautoestopista/aeneaai:latest-stable --push .
